GearyC/*
python_src*
old/*
*.csv.gz
*.txt.gz
*.txt.gz.*
*.feather
*.loom
*.txt
*.snakemake*
*.csv
*.mat
*.pdf
*.tif
*.tiff
*.png
*.db
*.svg
*.npz
*.rds
*.RDS
*.h5
*.json
*.ipynb_checkpoints*
*.xlsx
*job.sh
SlideSeq/DropViz/DropSeq.util*
.notags
*.html
